.main {
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: 20% 35% 45%;
}

.first {
  height: 100%;
  max-height: 700px;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 4%;
  position: relative;
}
.menu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.menu div {
  border-radius: 50%;
  padding: 1rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
.menu div:hover {
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  color: white;
}

.second>div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
  font-weight: bold;
  
}
.second>div>div{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
  font-weight: bold;
}
.second > div {
  border-radius: 20px;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.back{
  position: absolute;
  font-size: 50px;
  left: 10px;
  top:30px
}

.second input[type="text"] {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  background-color: bisque;
}
.second input[type="date"] {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  background-color: bisque;
}
.third {
  overflow: scroll;
}
.next{
  margin-top: 10px;
  width: 300px;
  font-weight: bold;
  font-size: 30px;
  height: 60px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
